mixin lForm(option = {})
  -
    const {
      dictionaryData = []
    } = option

  .lForm(data-form)
    .lForm-search(data-form-search)
      form.lForm-search-wrapper(data-form-search-wrapper)
        input(data-form-search-textbox type="search" placeholder="Search for any word...").lForm-search-textbox
        input(type="textbox").lForm-search-textbox.-dummy
        .lForm-search-button(data-form-search-button)
          input(type="button")
          +svg({name: 'iconoir_search'}).lForm-search-icon
    .lForm-contents(data-form-contents)
      each dictionaryDataItem in dictionaryData
        .lForm-result
          .lForm-words
            .lForm-words-text
              h2.lForm-keyword=dictionaryDataItem.word
              if dictionaryDataItem.phonetics
                each phoneticsItem in dictionaryDataItem.phonetics
                  if phoneticsItem.text
                    p.lForm-phonetic=phoneticsItem.text
            each phoneticsItem in dictionaryDataItem.phonetics
              if phoneticsItem.audio
                audio.lForm-play(id="audio1" src=phoneticsItem.audio)
                button.lForm-button(onclick="document.getElementById('audio1').play()")
          .lForm-description
            if dictionaryDataItem.meanings
              each meaningsItem in dictionaryDataItem.meanings
                .lForm-part
                  h3.lForm-part-title=meaningsItem.partOfSpeech
                  h4.lForm-part-lead Meaning
                  ul.lForm-part-list
                    each definitionItem in meaningsItem.definitions
                      li.lForm-part-item
                        p.lForm-part-item-text=definitionItem.definition
                        if definitionItem.synonyms.length > 0
                          a.lForm-part-item-synonyms-word=definitionItem.synonyms
                        if definitionItem.antonyms.length > 0
                          a.lForm-part-item-antonyms-word=definitionItem.antonyms
                  if meaningsItem.antonyms.length > 0
                    .lForm-part-synonyms
                      h5.lForm-part-synonyms-lead Synonyms
                      .lForm-part-synonyms-words
                      each synonymsItem in meaningsItem.synonyms
                        if synonymsItem
                          a.lForm-part-synonyms-word=synonymsItem
                  if meaningsItem.antonyms.length > 0
                    .lForm-part-antonyms
                      h5.lForm-part-antonyms-lead Antonyms
                      .lForm-part-antonyms-words
                      each antonymsItem in meaningsItem.antonyms
                        if antonymsItem
                          a.lForm-part-antonyms-word=antonymsItem